.barra_anuncio{
    border-radius: 42px;
    background: #c4be96;
    box-shadow:  5px 5px 0px #6d6846,
    -5px -5px 0px #ffffb8;
    width: 40vw;
    margin: 0 auto;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.like-container {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
#likeCount {
    font-size: 1.2em;
    font-weight: bold;
}

body { font-family: Helvetica, Arial, sans-serif; background-color: #F0F2F5; }

.post-container {
    background-color: rgb(212, 208, 183);
    width: 20vw;
    margin-right: 20px auto;
    padding: 15px;
    border-radius: 42px;
background: linear-gradient(145deg, #b3aa72, #d5ca88);
box-shadow:  5px 5px 0px #625d3e,
             -5px -5px 0px #ffffc0;

}

.post-header { display: flex; align-items: center; }

.user-pic { width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; }

textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 20px;
}

.post-actions {
    margin-top: 10px;
    text-align: right;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.button {
    background-color: #1876f200;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo del Feed */
.feed-post {
    border-radius: 42px;
    background: #c4be96;
    box-shadow:  5px 5px 0px #6d6846,
    -5px -5px 0px #ffffb8;
    width: 40vw;
    margin: 0 auto;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
