:root{
    --azul-cecyte:#1a4d8c;
    --crema-pastel:#fdfaf5;
    --blanco:#ffffff;
}
.body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--crema-pastel);
    color: #333;
}
.hader_superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: var(--blanco);
    border-bottom: 1px solid #ddd;
}
.titulo_h1{
    font-size: 40px;
    font-weight: bold;
    color: #555;
}
.seccion_derecha{
    display: flex;
    align-items: center;
    gap: 15px;
}
.botones_auth{
    background: #333;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
}
.logo_circulo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #8d6e63;
}
.diseño_principal{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.contenido_menu{
    display: flex;
    width: 100%;
    min-height: 100vh;
}
#check_menu:checked ~ .barralateral{
    left: 20px;
}
.barra_lateral{
    width: 220px;
    height: 100vh;
    position: fixed;
    left: -300px;
    background: var(--blanco);
    border-radius: 15px;
    padding: 20px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 05);
}

.barra_lateral ul{
    padding: 0;
    list-style: none;
}
.barra_lateral li{
    padding: 8px 0;
    font-size: 14px;
    columns: #666;
    cursor: pointer;
    transition: 0.3s;
}
.barra_lateral li:hover{
    color: var(--azul-cecyte);
    padding-left: 5px;
}
.feed_anuncios{
    flex: 1;
}
.barra_busqueda_contenedor{
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}
.input_busqueda{
    width: 60%;
    padding: 10px 300px;
    border-radius: 25px;
    border: 1px solid #ddd;
}
.feed_anuncios{
    flex: 1;
    margin-left: 10;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.tarjeta{
    background: var(--blanco);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0, 02);
}
.acciones_tarjeta{
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    gap: 20px;
    color: #888;
}
.remitente_anuncio{
    color: var(--azul-cecyte);
    font-size: 14px;
    margin-bottom: 5px;
}
.cuerpo_anuncio{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}
.lienea_divisora{
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
    display: block;
}