.caja-inscripciones{
    background: var(--blanco);
    border-radius: 15px;
    padding: 20px;
    width: 85%;
    display:block;
    margin: auto;
    margin-bottom: 20px;
    border: 4px solid #3c2547;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0, 0.2);
}
.caja-informacion{
    background: var(--blanco);
    border-radius: 15px;
    padding: 30px;
    width: 95%;
    display:contents;
    margin: auto;
    margin-bottom: 20px;
    border: 10px solid #000000;
    box-shadow: 0 4px 6px 5px rgba(5, 0, 0, 0, 0.2);
    background: #142f3e;
    display: inline-block;
}
.subtitulos-seccion{
    font-size: 30px;
    color: #626262
}
.caja-mes {
    background: var(--blanco);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background: #307946;
    display: block;
    max-width: 500px;
    font-family: Arial, sans-serif;
}
.linea.divisora {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ff00b7;
}
table {
    width: 100%;
    background: #86ff56;
    border-collapse: collapse;
    margin-top: 15px;
}
th { 
    background-color: #4b4b4b; color: white; padding: 10px;
}
td { 
    border: 2px solid #000000; padding: 8px; text-align: left;
}        
/* Estilo para fines de semana */
.fin-de-semana {
    background-color: #ffa2a2;
    color: #c00;
    font-weight: bold;
}

.barra-lateral{
    position: fixed;
    right: -300px; 
    top: 0;
    width: 280px;
    height: 100%;
    background: var(--bg-tarjeta);
    padding: 20px;
    transition: var(--transicion);
    box-shadow: -5px 0 15px var(--sombra);
    z-index: 1100;
}
.barra-lateral ul{
    list-style: none;
    padding: 20px;
}
#check-menu:checked ~ .barra-lateral{
    right: 0;
}

.btn_item {
    text-decoration: none;
    color: var(--texto);
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
    transition: var(--transicion);
    border-left: 4px solid transparent;
}
.btn_item:hover{
    background: var(--acento);
    color: white;
    transform: translateX(-10px);
    border-left: 4px solid var(--acento-secundario);
}
.titulo-seccion{
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}
@keyframes fadeIn{
    from{opacity: 0; transform: translateY(20px); }
    to{opacity: 1; transform: translateY(0); }
}
.logo-circulo{
    width: 60px; height: 60px;
    border-radius: 50%;
    border: 2px solid var(--acento);
}