<!doctype html>
<html lang="es">
  <head class="main-header">
    <meta charset="UTF-8" />
    <title>Revista CECyTE</title>

    <link rel="icon" href="{{ url_for('static', filename='Imagenes/LogoCecyte.jpg') }}" type="image/png"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='Clase_CSS/1_Diseño_Anuncios.css') }}"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='Clase_CSS/Diseño_Chatbot.css') }}"
    />
  </head>

  <body class="fondo_crema">
    <header class="hader-superior">
      <div class="seccion-menuiz">
        <button id="modoOscuro" class="btn_oscuro botones">🌙 | ☀️</button>
        <button popovertarget="miMenu" for="check-menu" class="btn-menu"><h3>☰ Menu</h3></button>

        <script>
          //Modo oscuro
          const boton = document.getElementById("modoOscuro");
          boton.addEventListener("click", () => {
            document.body.classList.toggle("dark");

            if (document.body.classList.contains("dark")) {
              localStorage.setItem("modo", "oscuro");
            } else {
              localStorage.setItem("modo", "claro");
            }
          });

          if (localStorage.getItem("modo") === "oscuro") {
            document.body.classList.add("dark");
          }
        </script>
      </div>

      <h2 class="texmenu">CECyTE</h2>

      <div class="seccion-derecha">
        <a
          href="{{ url_for('login') }}"
          class="botones-auth botones"
          title="Ingresar"
        >
          <button type="button">Ingresar</button>
        </a>

        <img
          src="{{ url_for('static', filename='Imagenes/LogoCecyte.jpg') }}"
          class="logo-circulo"
          title="Logo CCEyTE"
        />
      </div>
    </header>

    <div class="diseño_principal">
      <input type="checkbox" id="check-menu" style="display: none" />
<div class="barra-lateral" id="miMenu" popover>
    <div class="grupo-menu">
        <h2>Revista</h2>
        <ul>
            <li><a href="{{ url_for('anuncios') }}" class="btn_item">☆ Anuncios</a></li>
            <li><a href="{{ url_for('calendario') }}" class="btn_item">☆ Calendario</a></li>

            {% if session.get('usuario_logueado') %}
                <li><a href="{{ url_for('profesores') }}" class="btn_item">☆ Profesores</a></li>
                <li><a href="{{ url_for('eventos') }}" class="btn_item">☆ Eventos</a></li>
                <li><a href="{{ url_for('alumnos_destacados') }}" class="btn_item">☆ Alumnos destacados</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="grupo-menu">
        <ul><hr>
            {% if session.get('usuario_logueado') %}
                <li><a href="{{ url_for('cafeteria') }}" class="btn_item">☆ Menu de cafeteria</a></li>
                <li><a href="{{ url_for('mapa') }}" class="btn_item">☆ Mapa</a></li>
                <li><a href="{{ url_for('chismografo') }}" class="btn_item">☆ Chismografo</a></li>
            {% endif %}
        <hr></ul>
    </div>

    <div class="menu-usuario">
        <div>
            {% if session.get('usuario_logueado') %}
                <a href="{{ url_for('perfil') }}" class="btn_item">👤 {{ session['usuario_logueado'] }}</a>
            {% else %}
                <a href="/login.html" class="btn_item">👤 Ingresar</a>
            {% endif %}
        </div>
        
        <a href="{{ url_for('logout') }}" class="btn_item">Exit</a>
    </div>
</div>

      <main class="feed_anuncios">
        <div class="barra_busqueda_contenedor">
          <input
            type="search"
            class="input-busqueda"
            placeholder="Busca la publicacion o perfil"
            autofocus
          />
        </div>

        <h2 class="subtitulos_seccion">Anuncios</h2>

        <div class="tarjeta">
          <div class="encabezado_tarjeta">
            <p><strong>Anucio De: CECyTE</strong></p>

            <hr class="lienea divisora" />

            <p class="cuerpo_anuncio">
              <strong>¡Atencion a aspirantes 2026!</strong><br />
              El canje de fichas de admision para Produccion de prendasera de vestir sera el viernes 6 y lunes 9 de marzo,
              las de Mantenimiento industrial el miercoles 11 y viernes 13 de marzo, y las de Programacion el martes 17 y miercoles 18 de marzo. 
              <hr class="lienea divisora" />
              Requisitos: 
              <p> 
                Baucher del banco (Original y copia), Constancia de secundaria con calificaciones (Original), Copia del CURP, Hoja del Pre Registro, Cargar previamente la fotografia del alumno en Plataforma de Pre Registro.;
              </p>
              <br />
            </p>
          </div>

          <div class="acciones_tarjerta">
            <button class="btn_opc_tarjeta">⋮</button>
            <button class="btn_cora_tarjeta">♡</button>
          </div>
        </div>
      </main>
    </div>

    <!-- No tocar Chatbot (Saul no tocar gracias :) -->

    <div id="chatbot-boton">💬 CoyoBot</div>

    <div id="chatbot-ventana">
      <div id="chatbot-header">
        <div style="display: flex; align-items: center; gap: 8px;">
            <div class="status-online"></div>
            <span>🤖 CoyoBot CECyTE</span>
        </div>
        <span id="cerrar" style="cursor: pointer;">✖</span>
      </div>

      <div id="chatbot-mensajes">
          <div class="mensaje-bot">¡Hola! Soy el asistente virtual del CECyTE. ¿Qué necesitas buscar en el portal?</div>
      </div>

      <div id="chatbot-input">
        <input type="text" id="mensaje" placeholder="Escribe tu pregunta..." autocomplete="off" />
        <button id="enviar">➤</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='Clase_JS/chatbot.js') }}"></script>


  </body>
</html>
