<!doctype html>
<html lang="es">
    <head>
        <title>Professores CECyTE</title>
        <link rel="stylesheet" href="../static/Clase_CSS/2_Diseño-profesores.css" />
        <link rel="stylesheet" href="../static/Clase_CSS/1_Diseño_Anuncios.css" />
        <link rel="stylesheet" href="../static/Clase_CSS/0_Diseño_Menu.css" />   
        <link rel="icon" href="../static/Imagenes/LogoCecyte.jpg" type="image/png">
        <link rel="stylesheet" href="../static/Clase_CSS/Diseño_Chatbot.css" />
    </head>
    <body class="fondo_crema">
        <header class="header-superior">
            <div class="seccion-menuiz">
                <label for="check-menu" class="btn-menu"><h3> ☰ Menu</h3></label>
                <span>——</span>
                <button id="modoOscuro" class="btn_oscuro botones"> 🌙 | ☀️</button>
        <script>
            <!-- Modo oscuro -->
            const boton = document.getElementById("modoOscuro");
            boton.addEventListener("click", () => {
                document.body.classList.toggle("dark");
                if(document.body.classList.contains("dark")) {
                    localStorage.setItem("modo", "oscuro");
                } else {
                    localStorage.setItem("modo", "claro");
                }
            });
            if(localStorage.getItem("modo") === "oscuro") {
                document.body.classList.add("dark");
            }
        </script>
        </div>
        <h2 class="texmenu">Profesores CECyTE</h2>
        <h1 class="titulo-h1">Fake News</h1>
        <div class="seccion-derecha">
        <a href="5-Login.html" class="botones-auth botones" title="Ingresar"><button type="button">Ingresar</button></a>
        <img src="../Imagenes/LogoCecyte.jpg" class="logo-circulo" title="Logo CCEyTE"/>
        </div>
    </header>
    <div class="diseño_principal">
      <input type="checkbox" id="check-menu" style="display: none;">
        <aside class="barra-lateral">
        <div class="grupo-menu">
            <h2>Revista</h2>
            <ul>
            <li><a href="{{ url_for('anuncios') }}">☆ Anuncios</a></li>
            <li><a href="{{ url_for('calendario') }}">☆ Calendario</a></li>
            <li><a href="{{ url_for('profesores') }}">☆ Profesores</a></li>
            <li><a href="{{ url_for('eventos') }}">☆ Eventos</a></li>
            <li><a href="{{ url_for('alumnos_desta') }}">☆ Alumnos destacados</a></li>
            <li><a href="{{ url_for('convocatorias') }}">☆ Convocatorias</a></li>
            </ul>
        </div>
        <div class="grupo-menu">
            <ul>
            <hr>
            <li><a href="{{ url_for('mapa') }}">☆ Mapa</a></li>
            <li><a href="{{ url_for('cafeteria') }}" class="btn_menu_cafe">☆  Menu de cafeteria</a></li>
            <li><a href="{{ url_for('chismografo') }}" class="btn_chisme">☆  Chismografo</a></li>
            <li><a href="{{ url_for('horario') }}" class="btn_horario">☆  Horario</a></li>
            </ul>
        </div>
        <div class="menu-usuario">
            <div>
              <a href="6-Perfil.html" class="btn_user">👤 User</a>
            </div>
            <div class="Exit-User"></div>
        </div>
    </aside>
    
    <h2 class="subtitulos_seccion">Profesores</h2>

      <div class="linea"> 
            <h3> Orientcion educativa</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Español</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Matematicas</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Quimica</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Educacion fisica</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Cultura digital</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3>Ciencias sociales</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Humanidades</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Historia</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Ingles</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Frances</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3>Programación</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 style="text-align: left;"> - - -Rogel Martinez- - - <p style="text-align: center;"> Ignacio</p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 4°=F, J | 6°= <p style="text-align: center;"> Tutor del: J</p></h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class="linea"> 
            <h3> Mantenimiento Industrial</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>
        
        <div class="linea"> 
            <h3> Textiles</h3>
        </div>
        <h1 class="linea"></h1>

        <div class="contenedor">
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
            <div class="cuadro">
                <div class="encabezado_tarjeta">
                    <div>
                        <img
                            src="../static/Imagenes/Perfil.jpg"
                            class="foto_perfil_tarjeta"
                            title="Foto del profesor"
                        />
                    </div>
                </div>
                <h3 class="titulo_tarjeta">Apellido<p style="text-align: center;"> Nombre </p></h3>
                <div class="informacion_tarjeta">
                    <h4 style="text-align: center;" class="grupo_tarjeta">Grupos: 2°= | 4°= | 6°= </h4>
                </div>
            </div>
        </div>

        <div class=" linea Agradecimientos">
            <h2>Agradecimientos</h2>
            <p>
                Agradecemos a todos los profesores que han contribuido a la educación de nuestros estudiantes, brindando su conocimiento y dedicación para formar a las futuras generaciones. Su compromiso y pasión por la enseñanza son fundamentales para el crecimiento académico y personal de nuestros alumnos. ¡Gracias por su invaluable labor!
            </p>
            <p>
                .
            </p>
        </div>

  </body>
</html>