<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"> <title>Menú del CECyTE</title>
    <link rel="stylesheet" href="../static/Clase_CSS/4_Diseño-Cafeteria.css" />
    <link rel="stylesheet" href="../static/Clase_CSS/1_Diseño_Anuncios.css" /> 
    <link rel="stylesheet" href="../static/Clase_CSS/0_Diseño_Menu.css" />  
    <link rel="icon" href="../static/Imagenes/LogoCecyte.jpg" type="image/png">
    <link rel="stylesheet" href="../static/Clase_CSS/Diseño_Chatbot.css" />
</head>
<body class="fondo_crema">
<header class="header-superior">
    <div class="seccion-menuiz">
            <div class="seccion-izquierda-controles">
            <button id="modoOscuro" class="btn_oscuro botones"> 🌙 | ☀️</button>
            <label for="check-menu" class="btn-menu"><h3> ☰ Menu</h3></label>
        </div>
    <script>
        const boton = document.getElementById("modoOscuro");
        boton.addEventListener("click", () => {
            document.body.classList.toggle("dark");
            localStorage.setItem("modo", document.body.classList.contains("dark") ? "oscuro" : "claro");
        });
        if(localStorage.getItem("modo") === "oscuro") document.body.classList.add("dark");
    </script>
    </div>
        <h2 class="texmenu">CECyTE</h2>
        <div class="seccion-derecha">
        <button href="5-Login.html" class="botones-auth botones" type="button">Ingresar</button>
        <img src="../static/Imagenes/LogoCecyte.jpg" class="logo-circulo" title="Logo CCEyTE"/>
        </div>
</header>
    <div class="diseño_principal">
        <input type="checkbox" id="check-menu" style="display: none;">
        <aside class="barra-lateral">
            <div class="grupo-menu">
                <h2>Revista</h2>
                <ul>
                    <li><a href="{{ url_for('anuncios') }}" class="btn_item">☆ Anuncios</a></li>
                    <li><a href="{{ url_for('calendario') }}" class="btn_item">☆ Calendario</a></li>
                    <li><a href="{{ url_for('profesores') }}" class="btn_item">☆ Profesores</a></li>
                    <li><a href="{{ url_for('eventos') }}" class="btn_item">☆ Eventos</a></li>
                    <li><a href="{{ url_for('alumnos_destacados') }}" class="btn_item">☆ Alumnos destacados</a></li>
                </ul>
            </div>
            <div class="grupo-menu">
                <ul><hr>    
                    <li><a href="{{ url_for('cafeteria') }}" class="btn_item">☆ Menu de cafeteria</a></li>
                    <li><a href="{{ url_for('chismografo') }}" class="btn_item">☆ Chismografo</a></li>
                </hr></ul>
            </div>
            <div class="menu-usuario">
                <div>
                    <a href="{{ url_for('perfil') }}" class="btn_item">👤 User</a>
                </div>
                <div class="btn_item">Exit</div>
            </div>
        </aside>
            <div class="caja-cafeteria">
                <h2 class="titulo_seccion">Menu de Cafeteria</h2>
                <div class="encabezado-tarjeta">
                    <div class="caja-menu1">
                        <h2 class="hs2">Cafeteria de Abajo</h2>
                        <ol>
                            <li>Tacos acorazados ----$35</li>
                            <li>Torta de Jamon ------$35</li>
                            <li>Torta de Milanesa ---$40</li>
                            <li>Chilaquiles ---------$40</li>
                            <li>Banderillas ---------$25</li>
                        </ol>
                    </div>
                    <div class="caja-menu2">
                        <h2 class="hs2">Cafeteria de Arriba</h2>
                        <ol>
                            <li>Tacos acorazados ----$35</li>
                            <li>Torta de Jamon ------$35</li>
                            <li>Torta de Milanesa ---$40</li>
                            <li>Chilaquiles ---------$40</li>
                            <li>Banderillas ---------$25</li>
                        </ol>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>