<!doctype html>
<html>
<link rel="icon" href="../Imagenes/LogoCecyte.jpg" type="image/png">
<link rel="stylesheet" href="../Clase_CSS/1_Diseño_Anuncios.css">
<link rel="stylesheet" href="../Clase_CSS/2_Diseño_Login.css">
  <div>
    <span class="bg-aniDiseño_mate"></span>
    <span class="bg2-animate"></span>
  </div>
  <body>
    <div class="login-container">
      <div class="login-box">
        <img
          src="../Imagenes/LogoCecyte.jpg"
          alt="Logo CECyTE"
          class="login-logo"
        />
        <h2>Iniciar Sesion</h2>
        <form class="login-from">
          <div class="input-group">
            <input type="email" id="correo" class="cajaCorreo" placeholder="correo@cecytemorelos.edu.mx"/>
          </div>
          <div>
            <button type="button" class="login-button" onclick="manejarLogin()">Mandar Codigo</button>
          </div>
          <div class="input-group">
            <input type="password" id="code" class="cajaCodigo" placeholder="Ingresa el codigo"/>
            <button type="button" class="entrarCode login-button" onclick="verificarCodigo()">Verificar</button>
            <p id="mensaje"></p>
          </div>
          <a
            href="javascript:history.back()"
            class="btn-login btn-salir"
            ><button type="button">Regresar</button></a
          >
        </form>
      </div>
    </div>
    <script src="login.js"></script>
  </body>
</html>
