<!doctype html>
<html lang="es">
    <head>
        <meta charset="UFT-8">
        <title>Chismografo CECyTE</title>
        <link rel="stylesheet" href="../static/Clase_CSS/7_Chismografo.css" />
    <link rel="stylesheet" href="../static/Clase_CSS/1_Diseño_Anuncios.css" />
    <link rel="stylesheet" href="../static/Clase_CSS/0_Diseño_Menu.css" /> 
    <link rel="icon" href="../static/Imagenes/LogoCecyte.jpg" type="image/png">
        <link rel="stylesheet" href="../../all css/Diseño-Chatbot.css" />
    </head>
    <body class="fondo_crema">
        <header class="header-superior">
            <div class="seccion-menuiz">
            <div class="seccion-izquierda-controles">
            <button id="modoOscuro" class="btn_oscuro botones"> 🌙 | ☀️</button>
            <label for="check-menu" class="btn-menu"><h3> ☰ Menu</h3></label>
        </div>
        <script>
            <!-- Modo oscuro -->
            const boton = document.getElementById("modoOscuro");
            boton.addEventListener("click", () => {
                document.body.classList.toggle("dark");
                if(document.body.classList.contains("dark")) {
                    localStorage.setItem("modo", "oscuro");
                } else {
                    localStorage.setItem("modo", "claro");
                }
            });
            if(localStorage.getItem("modo") === "oscuro") {
                document.body.classList.add("dark");
            }
        </script>
        </div>
        <h1 class="texmenu">Fake News</h1>
        <div class="seccion-derecha">
        <button href="5-Login.html" class="botones-auth botones" type="button">Ingresar</button>
        <img src="../static/Imagenes/LogoCecyte.jpg" class="logo-circulo" title="Logo CCEyTE"/>
        </div>
    </header>
    <div class="diseño_principal">
        <input type="checkbox" id="check-menu" style="display: none;">
        <aside class="barra-lateral">
            <div class="grupo-menu">
                <h2>Revista</h2>
                <ul>
                    <li><a href="1_Anuncios.html" class="btn_item">☆  Anuncios</a></li>
                    <li><a href="3-Calendario.html" class="btn_item">☆  Calendario</a></li>
                    <li><a href="2-Profesores.html" class="btn_item">☆  Profesores</a></li>
                    <li><a href="8_Eventos.html" class="btn_item">☆  Eventos</a></li>
                    <li><a href="9_AlumnosDesta.html" class="btn_item">☆  Alumnos destacados</a></li>
                </ul>
            </div>
            <div class="grupo-menu">
                <ul>
                    <hr>
                    <li><a href="4-Cafeteria.html" class="btn_item">☆  Menu de cafeteria</a></li>
                    <li><a href="7_Chismografo.html" class="btn_item">☆  Chismografo</a></li>
                </ul>
            </div>
            <div class="menu-usuario">
                <div>
                    <a href="6-Perfil.html" class="btn_item">👤 User</a>
                </div>
                <div class="btn_item">Exit</div>
            </div>
        </aside>

        <h2 class="titulo_seccion">Chismografo</h2>
        <div>
            <div class="post-container">
                <div class="post-header">
                    <textarea id="postText" placeholder="¿Qué vas a contar?"></textarea>
                </div>
            <div class="post-actions">
                <button id="postBtn" class="botones">Publicar</button>
            </div>
        </div>

<!-- Contenedor donde aparecerán las publicaciones -->
<div for="feed" id="feed"></div>

    </div>
    <div>
    <aside class="barra_anuncio">
        <div class="post-body">
            <p>¡Saquen a esteban!</p>
        </div>
        <div class="post-actions">
            <div class="like-container">
                <button id="likeBtn">❤️ Like</button>
                <span id="likeCount">0</span>
            </div>
            <button>Comentar</button>
        </div>
    </aside>
    <aside class="barra_anuncio">
        <div class="post-body">
            <p></p>
        </div>
        <div class="post-actions">
            <div class="like-container">
        <button id="likeBtn">❤️ Like</button>
        <span id="likeCount">0</span>
    </div>
            <button>Comentar</button>
        </div>
    </div>
        </aside>
    </div>
    </div>
</div>



    </div>
    <script src="chismografo.js"></script>
  </body>
</html>

