<!doctype html>
<html lang="es">
    <head>
        <meta charset="UFT-8">
        <title>Chismografo CECyTE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Clase_CSS/7_Chismografo.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Clase_CSS/1_Diseño_Anuncios.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Clase_CSS/0_Diseño_Menu.css') }}" /> 
    <link rel="icon" href="{{ url_for('static', filename='Imagenes/LogoCecyte.jpg') }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='Clase_CSS/Diseño-Chatbot.css') }}" />
    </head>
    <body class="fondo_crema">
        <header class="header-superior">
            <div class="seccion-menuiz">
            <div class="seccion-izquierda-controles">
            <button id="modoOscuro" class="btn_oscuro botones"> 🌙 | ☀️</button>
            <button popovertarget="miMenu" for="check-menu" class="btn-menu"><h3>☰ Menu</h3></button>
        </div>
        <script>
            <!-- Modo oscuro -->
            const boton = document.getElementById("modoOscuro");
            boton.addEventListener("click", () => {
                document.body.classList.toggle("dark");
                if(document.body.classList.contains("dark")) {
                    localStorage.setItem("modo", "oscuro");
                } else {
                    localStorage.setItem("modo", "claro");
                }
            });
            if(localStorage.getItem("modo") === "oscuro") {
                document.body.classList.add("dark");
            }
        </script>
        </div>
        <h1 class="texmenu">Fake News</h1>
        <div class="seccion-derecha">
        <button href="{{ url_for('login') }}" class="botones-auth botones" type="button">Ingresar</button>
        <img src="{{ url_for('static', filename='Imagenes/LogoCecyte.jpg') }}" class="logo-circulo" title="Logo CCEyTE"/>
        </div>
    </header>
    <div class="diseño_principal">
        <input type="checkbox" id="check-menu" style="display: none;">
        <div class="barra-lateral" id="miMenu" popover>
            <div class="grupo-menu">
                <h2>Revista</h2>
                <ul>
                    <li><a href="{{ url_for('anuncios') }}" class="btn_item">☆ Anuncios</a></li>
                    <li><a href="{{ url_for('calendario') }}" class="btn_item">☆ Calendario</a></li>
                    <li><a href="{{ url_for('profesores') }}" class="btn_item">☆ Profesores</a></li>
                    <li><a href="{{ url_for('eventos') }}" class="btn_item">☆ Eventos</a></li>
                    <li><a href="{{ url_for('alumnos_destacados') }}" class="btn_item">☆ Alumnos destacados</a></li>
                </ul>
            </div>
            <div class="grupo-menu">
                <ul><hr>    
                    <li><a href="{{ url_for('cafeteria') }}" class="btn_item">☆ Menu de cafeteria</a></li>
                    <li><a href="{{ url_for('chismografo') }}" class="btn_item">☆ Chismografo</a></li>
                </hr></ul>
            </div>
            <div class="menu-usuario">
                <div>
                    <a href="{{ url_for('perfil') }}" class="btn_item">👤 User</a>
                </div>
                <div class="btn_item">Exit</div>
            </div>
        </div>

        
        <h2 class="titulo_seccion">Chismografo</h2>
        <div class="linea"><h1 class="linea"></h1></div>
        <h1 class="linea"></h1>
        <div>
            <div class="post-container">
                <div class="post-header">
                    <textarea id="postText" placeholder="¿Qué vas a contar?"></textarea>
                </div>
            <div class="post-actions">
                <button id="postBtn" class="botones">Publicar</button>
            </div>
        </div>

<!-- Contenedor donde aparecerán las publicaciones -->
<div for="feed" id="feed"></div>

    </div>
    <div>
    <aside class="barra_anuncio">
        <div class="post-body">
            <p>¡Saquen a esteban!</p>
        </div>
        <div class="post-actions">
            <div class="like-container">
                <button id="likeBtn">❤️ Like</button>
                <span id="likeCount">0</span>
            </div>
            <button>Comentar</button>
        </div>
    </aside>
    <aside class="barra_anuncio">
        <div class="post-body">
            <p></p>
        </div>
        <div class="post-actions">
            <div class="like-container">
        <button id="likeBtn">❤️ Like</button>
        <span id="likeCount">0</span>
    </div>
            <button>Comentar</button>
        </div>
    </div>
        </aside>
    </div>
    </div>
</div>



    </div>
    <script src="{{ url_for('static', filename='Clase_JS/chismografo.js') }}"></script>

    <div id="chatbot-boton">💬</div>

    <div id="chatbot-ventana">
      <div id="chatbot-header">
        Asistente CECyTE
        <span onclick="cerrarChat()">✖</span>
      </div>

      <div id="chatbot-mensajes"></div>

      <div id="chatbot-input">
        <input type="text" id="mensaje" placeholder="Escribe tu pregunta..." />
        <button onclick="enviarMensaje()">Enviar</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='Clase_JS/Sscrip.js') }}"></script>
    <script src="{{ url_for('static', filename='Clase_JS/chatbot.js') }}"></script>

  </body>
</html>

